.option {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 10px;
  padding-left: 10px;
}

.btn {
  padding: 10px 20px;
  background-color: rgb(30, 167, 160);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: rgb(23, 131, 125);
}

.btn:active {
  background-color: rgb(29, 187, 179);
}
